.saldo-info {
    text-align: center;
    margin-top: 50px;
}

.saldo-box {
    display: inline-block;
    background: #f3f3f3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.saldo-box h3 {
    color: #007bff;
    font-size: 2em;
    margin: 10px 0;
}

